* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 12px;
}

input:disabled {
  background-color: #f6f6f6;
}
